name: go

concurrency:
  group: ${{ github.workflow }}/${{ github.ref_name }}

on:
  push:
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '**.proto'
      - '.github/workflows/go.yml'
    branches:
      - main
  pull_request:
    paths:
      - '**.go'
      - '**.mod'
      - '**.sum'
      - '**.proto'
      - '.github/workflows/go.yml'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download modules
        run: go mod download

      - name: Run static analysis
        run: go tool staticcheck ./...

      - name: Run generators
        run: go generate ./...

      - name: Run tests
        run: go test -race ./...

      - name: Check for changed files
        run: |
          git add .
          git diff --staged --exit-code
