name: release

on:
  push:
    tags:
      - "v*"

permissions:
  packages: write
  contents: write

concurrency:
  group: ${{ github.workflow }}/${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
